
@media (max-width:1330px){
	
	.title-intro{
	font-size:60px;
	}
	.slogan-intro{
	font-size:20px;
	}
	.location-intro{
	font-size:30px;
	}
	.donation-inntro{
	font-size:25px;
	}
	
}
@media (max-width:1200px){
	
	.title-intro{
	font-size:60px;
	}
	.slogan-intro{
	font-size:20px;
	}
	.location-intro{
	font-size:30px;
	}
	.donation-inntro{
	font-size:25px;
	}
	
}
@media (max-width:1180px){
	.slogan-intro {
		padding: 0 0 30px;
	}
	.location-intro {
		padding: 0 0 25px;
	}
@media (max-width:1120px){
	.poster-wfl{
	display:none;
	}
	.content-intro {
	   position:relative; 
	   text-align: center;
	   margin-bottom: 450px;
	   left:0;
	   right:0;
	   top:0;
	   height:0;
	}
	.serpent-shape{
		background-repeat:no-repeat;
		background-image:url("../images/serpent-grey-horizontal.png");
		padding:5px;
	}
	
	.title-intro{
		color:#555;
	}
	.slogan-intro{
		color:#555;
	}
	.location-intro{
		color:#555;
	}
	.donation-intro{
		color:#555;
	}
	
	@media (max-width:973px){
	.center-block {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
	.describe-purpose {
		float:left;
		width:100%; 
		padding: 0px 45px 40px 45px;
	}
	.describe-purpose2 {
		float:left;
		width:100%; 
		padding: 0px 45px 0px 45px;
	}
	.describe-story {
		float:left; 
		width:100% ; 
		padding: 0 45px 15px 45px;
	}
	.describe-story2 {
		float:left; 
		width: 100%; 
		padding: 0 45px 0 45px;
	}
	.nav-scrollbar {
        width: 40px;
        height: 150px;
    }
    .circle-link-left {
        left: 10px;
        top: -22px;
    }
    .link-flag-left {
        width: 150px;
        height: 30px;
        top:20px;
    }
    .link-flag-right {
        width: 150px;
        height: 30px;
        top:1px;
    }

    .text-modify-list {
        font-size: 10px;
    }
    .circle-link-right {
        left: 23px;
        top: 25px;
    }
    .circle-link-left2 {
        left: 10px;
        top: 33px;
    }
    .circle-link-right2 {
        left: 23px;
        top: 85px;
    }
    .circle-link-left3 {
        left: 10px;
        top: 96px;
    }
    .link-flag-left:after {
         border-top: 15px solid transparent;
         border-bottom: 15px solid transparent;
         border-left: 20px solid #f7ae57;
     }
    .link-flag-right:after {
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 20px solid #f7ae57;
    }
}
	@media (max-width:640px){
	.center-block {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		}
	.progress-bar {
		width: 350px;
	}
	.current-value {
		  right: -50px;
		  font: normal normal 25px/normal "gloriahallelujah", Arial, Helvetica, sans-serif;
	}
	.total-value {
		right: -55px;
		font: normal normal 25px/normal "gloriahallelujah", Arial, Helvetica, sans-serif;
	}
	.submit-button {	
		width: 200px; 
}
	#contactForm {
		padding-bottom: 100px;
		padding: 50px 0 60px 0 ;
}
	}
	
	@media (max-width:454px){
	.title-intro{
		font-size:35px;
	}
	.donation-intro{
		font-size:20px;
	}
	.progress-bar {
		width: 250px;
	}
	.current-value {
	  right: -35px;
	  bottom: -55px;
	  font: normal normal 20px/normal "gloriahallelujah", Arial, Helvetica, sans-serif;
	}
	.serpent-shape{
	padding-top:15px;
	}
	.total-value {
		right: -35px;
		bottom: -55px;
		font: normal normal 20px/normal "gloriahallelujah", Arial, Helvetica, sans-serif;
	}
	.serpent-size{
	width:200px;
	}
	.title-purpose,.title-team,.title-story,.title-footer{
	font-size:20px;
	}
	}