.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.img-responsive{
	max-width: 100%;
	max-height:	100%;
	height: auto;
}
.center-block{
	margin-left: auto;
	margin-right: auto;
	width:	960px;
}
body{
	background-color:#477bb5;
}
.nav{
		background-color:white;
	}
	.nav-page{
		display:inline;
		padding-left:10px;
	}
	.nav-link{
		text-decoration:none;
	}
.form{
	padding:100px 0px 100px 0px;
	background-image:url("../images/registration.jpg");
	background-repeat:no-repeat;
	border-top:5px solid black;
	border-bottom:5px solid black;
}
.upload{
	float:right;
	margin-right:50px;
}
	.upload-image{
	float:right;
	border:2px solid black;
	margin:10px 85px 0px 0px;
	width:200px;
	height:200px;
	}
		.pos-upload{
			
			float:right;
		}
.profile-reg{
	padding-left:40px;
	width:100px;
	background-color:white;
}
.margin{
	margin-bottom:10px;
	margin-left:10px
}
.form-design{
	border:3px solid black;
}
.reg{
	background-color:yellow;
	
}
	.name-reg{
		padding:10px 20px 10px 20px;
	}
	.describe{
		padding-left:100px;
		
		background-color:white;
	}
	
.footer{
	background-color:white;
}
	.describe-footer{
		text-align:center;
	}	
	.nav-logo{
		padding-left:20px;
		display:inline;
	}
	
	.login{
		background-image:url("../images/login.jpg");
		background-repeat:no-repeat;
	}
	.home{
		background-color:#d5fbfe;
	}
	.position-log{
		margin-left:10px;
		margin-bottom:10px;
	}
	.position-btn {
    margin-left: 90px;
}
	.position-btn2 {
    margin-left: -53px;
}
	.form-pos{
		margin: 203px 35px 212px 330px;
	}
		.link-decoration{
			text-decoration:none;
		}
			.text-modify{
				margin-top:20px;
			}
	.register-submission{
		background-image:url("../images/registration.jpg");
		background-repeat:no-repeat;
	}
	.describe-submission{
		margin: 190px 172px 212px 186px;
		text-align:center;
		color:white;
	}
	.sign-out{
		display:inline;
		float:right;
		margin: -52px 84px 0 0;
	}
	.position-btn-reg{
		margin-left: 50px;
	}
	.position-btn-reg2{
		margin-left: -60px;
	}
	.pos-submit {
    float: right;
    margin: 30px -103px 0 0;
}