@media (max-width:981px){
	.center-block{
	margin-left: auto;
	margin-right: auto;
	width:100%;
	}
	.icons{
	width:100%;
	padding-left:55px;
	padding-right:55px;
	}
	.poster{
	width:100%;
	padding-left:55px;
	padding-right:55px;
	}
	.commentary-media{
	width:100%;
	padding-left:55px;
	padding-right:55px;
	}
	.video-size{
	width:400px;
	padding-left:55px;
	padding-right:55px;
	
	}
	.content,.content2,.content3{
	width:100%;
	padding-left:55px;
	padding-right:55px;
	}
	.icon-agents,.icon-families,.icon-attorneys{
	width:100%;
	padding-left:55px;
	padding-right:55px;
	}

}
@media (max-width:625px){
	.services  li{
	width:100%;
	
	}
	
	
}
@media (max-width:425px){
	.video-size{
	width:300px;
	}
}