@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.eot');
    src: url('../fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* set box sizing */
*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	/* 
		adauga font-family default + font-size + line-height + color
	*/
	font-family: 'robotoregular', Arial, Helvetica, sans-serif;
	line-height: 1.3;
	font-size: 16px;
	color: #555555;
}

h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.img-responsive{
	max-width: 100%;
	max-height:	100%;
	height: auto;
}
	
.center-block{
	margin-left: auto;
	margin-right: auto;
	width:	960px;
}
/* Navigation*/


/* End Navigation*/
/*Services*/
.layout-services{
	background-color: #F8F8F8;
}
	.services{
		text-align:	center;
		position:	relative;
		display:	block;
	}
		.services ul{
			margin: 0;
			padding: 0;
			list-style: none;
			padding-bottom:86px;
			
		} 
			.services li {
				float: left;
				width: 33.3%;
				padding-top: 62px;
			}
				.services-title{
					margin: 30px 0 20px;
					font-family: 'robotobold', Arial, Helvetica, sans-serif;
					font-size: 24px;
					color: #555;
					
					
				}
				.services-description{
					font-size: 17px;
					color: #777;
					font-weight: normal;
					padding: 0 20px 0 20px;
				}
				
 /*Header*/
 .layout-header{
	background-color: #33a1e4;
 }

		 .header-title{
		font-size: 70px;
		color: #fff;
		font-family: 'robotothin',Arial,Helvetica,sans-serif;
		font-weight: normal;
        font-style: normal;
		}

			.header-description{
			font-size: 20px;
			color: #fff;
			}
 .icons{
	width: 40%;
	float: left;
	padding-top: 80px;
	padding-bottom: 80px;
 }
 .poster{
	float: right;
	width: 60%;
	padding: 99px 0 90px 60px;
	
 }
 
 .mobile-device{
	padding: 40px 26px 46px 0 ;
 }
 .button{
  display: inline-block;
  height: 53px;
  padding: 0 20px;
  line-height: 53px;
  background: #484555;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

	.button .arrow{
		  display: inline-block;
		  width: 50px;
		  height: 34px;
		  margin-top: -8px;
		  margin-left: 100px;
		  vertical-align: middle;
		  background-image: url(../images/arrow.png);
		  background-repeat: no-repeat;
		  background-position: center center;
	}

 /*Media*/
 .layout-media{
	background-color: #13191c;
 }
		 .media-title{
		font-size:50px;
		color:#fff;
		font-family: 'robotothin',Arial,Helvetica,sans-serif;
		font-weight: normal;
		font-style: normal;
		}
			.media-description{
			font-size: 20px;
			color: #fff;
			}
				.commentary-media{
					width:	50%;
					padding: 107px 0 107px 50px ;
					float: right;
					}
.video{
	padding: 86px 0 86px 0 ;
	float:	left;
	width:	50%;
	
}


/*CONTENT*/
.layout-content{
	background-color: #F8F8F8;
}
	.content{
		float: left;
		width: 60%;
		padding: 102px 0 124px 0;
		
	}
		.content-title{
		font-size: 50px;
		color: #777;
		font-family: 'robotothin',Arial,Helvetica,sans-serif;
		font-weight: normal;
		font-style: normal;
		padding: 0 0 25px 0;
		}
			.content-description{
			font-size: 16px;
			color: #777;
			font-weight:normal;
			}
				.content2{
					float: right;
					width: 60%;
					padding: 0 0 91px 0;
					
				}
						.content3{
						float: left;
						width: 60%;
						padding: 0 0 158px 0;
					}		

.icon-families{
	float: right;
	width: 40%;
	padding: 60px 0 70px 130px;
}
		.icon-agents{
			float: left;
			width: 40%;
			padding: 0 130px 87px 0;
		}

			.icon-attorneys{
				float:right;
				width:40%;
				padding: 0 0 73px 130px;
			}
/*FOOTER*/
.layout-footer{
	background-color: #383838;
}
	.footer{
		position: relative;
		text-align:	center;
		width: 100%;
	}
			.footer-title{
			font-size: 50px;
			color: #fff;
			font-family: 'robotothin',Arial,Helvetica,sans-serif;
			font-weight: normal;
			font-style: normal;
			padding: 65px 0 46px 0;
			}
				.footer-description{
				font-size: 20px;
				color: #fff;
				font-weight: normal;
				padding: 0 0 37px 0;
				}
					.footer-subdescription{
					font-size: 16px;
					color: #fff;
					font-weight: normal;
					padding: 37px 0 64px 0 ;
					}




