.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.img-responsive{
	max-width: 100%;
	max-height:	100%;
	height: auto;
}
.center-block{
	margin-left: auto;
	margin-right: auto;
	width:	960px;
}
/* Crearea Meniului de Navigare */
	.layout-intro{
	background: url(../images/database.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
		.navigation-intro{
			padding-right:80px;
		}
			.link-intro{
			display:inline-block;
			float:right;
			margin: 200px 30px 30px 0;
			}
				
				.link-edit-intro{
					text-transform:none;
				}
				.color-link{
					font-size:20px;
					color:white;
				}
	/* Denumirea si obiectivul site-ului */
		.presentation-intro{
			text-align:center;
			 margin: 400px 0px 200px 400px;
			 
		}
				.title-intro{
				font-size:50px;
				color:white;
			}
				.describe-intro{
				font-size:18px;
				color:white;
			}
			.home-btn{
				width:100px;
				height:50px;
			}
			.shop-btn{
				width:100px;
				height:50px;
			}
	/*Despre site */
	.welcome{
		text-align:center;
		padding: 100px 0 100px 0px;
	}
	
		.title-welcome{
			font-size:30px;
			}
		.description-about{
			padding-top:5px;
			font-size:18px;
		}
	/* Creare industrii */
	.industry{
		background-color:#f5f5f5;
	}
		.enum-industries{
			margin:100px 0 100px 200px;
		}
			.content-industry{
			display:inline-block;
			padding-left:10px;
			text-align:center;
			}
				.size-industry{
				width:300px;
				height:200px;
				}
	/* Citare despre baze de date */
	.quote{
		background-color:#2fbced;
	}
		.block-quote{
			margin-top:50px;
		}
			.content-quote{
			font-size:30px;
			color:white;
			}
			.author-quote{
			float:right;
			color:white;
			}
		/* Participanti la proiect */
		.ourwork{
			text-align:center;
			margin-bottom:30px;
		}
		.circle{
			float:right;
		}
			.return-header{
				display:inline-block;
				border-radius:50px;
				background-color:#CCFFCC;
				width:70px;
				height:70px;
				position: absolute;
				margin-top:390px;
			}
				.arrow-up{
				background-image:url(../images/arrow-up.png);
				background-repeat:no-repeat;
				background-position:center center;
					
				}
		/*Footer */
		.footer{
			background-color:#2fbced;
			text-align:center;
		}
			.copyright{
				padding:10px 0px 10px 0px;
				font-size:20px;
				color:white;
			}
			
	 /* Login.php */
	 .background-login{
	background: url(../images/database.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	 }
	 .form-pos{
	margin: 450px 30px 320px 350px;
	}
	.position-btn {
    margin-left: 50px;
	}
	.position-btn2 {
    margin-left: -65px;
	}
	.position-btn-reg{
		margin-left: 35px;
	}
	.position-btn-reg2{
		margin-left: -65px;
	}
	/* SHOP */
	.header{
		background-color:#2fbced;
	}
		.title-pos{
			text-align:center;
			color:white;
			padding: 270px 0px 50px 0px;
		}
		.products{
			float:left;
			width:60%;
		}
			.link-tag{
				float:left;
				margin-top:20px;
				margin-left:50px;
			}
			.combobox-sort{
				float:right;
				margin-top:20px;
			}
			
		.categories{
			float:right;
			width:40%;
			padding-left:100px;
		}	
			.link-categories{
				list-style-type:none;
			}
			.size-hr{
				width:250px;
				border:1px solid black;
			}
			/*Register*/
			.background-register{
			background: url(../images/database.jpg) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			}